<div class="row no-margin">
  <div class="col-md-12 chart-row">
    <div [myChart]="chartOptions" #requestChart="myChart" class="chart-half"></div>
  </div>
</div>
<div class="row no-margin">
  <div class="col-md-4">
    <mat-card style="background-color: #F2F4F8;height: 75vh; overflow: scroll">
      <mat-card-title>
        Pending Requests
      </mat-card-title>
      <mat-card-content>
        <ul class="list-group">
          <a href="#" class="list-group-item"
             *ngFor="let request of pRequests" style="color: black;"
             (click)="requestClicked(request,'p')">
            <span class="badge badge-pill" style="background:#1D9DFC;">{{getWaitingTime(request.timestamp)}}</span>
            <div>{{request.name}}</div>
            <div style="color: #6D6D6D;">Request Type - {{request.type}}</div>
            <p class="mb-1" style="color:#a7afb2;">Summary - {{request.summary}}</p>
          </a>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-md-4">
    <mat-card style="background-color: #F2F4F8;height: 75vh; overflow: scroll">
      <mat-card-title>
        Approved Requests
      </mat-card-title>
      <mat-card-content>
        <ul class="list-group">
          <a href="#" class="list-group-item"
             *ngFor="let request of aRequests" style="color: black;"
             (click)="requestClicked(request,'a')">
            <span style="float: right;">
              <i class="fa fa-paypal" *ngIf="request.bot"></i>
              <i class="fa fa-user" *ngIf="!request.bot"></i>
              <span class="badge badge-pill" style="background:#8fd17b;">{{getWaitingTime(request.timestamp)}}</span>
            </span>
            <div>{{request.name}}</div>
            <div style="color: #6D6D6D;">Request Type - {{request.type}}</div>
            <div class="no-margin no-padding">
              <div class="row">
                <div class="col-md-10" style="float: left;">
                  <p class="mb-1" style="color:#a7afb2;">Summary - {{request.summary}}</p>
                </div>
                <div class="col-md-2" style="float: right;">
                  <div [id]="removeSpaces(request.name)+request.timestamp+'loader'" class="circle-loader" style="float: right;">
                    <div [id]="removeSpaces(request.name)+request.timestamp+'checkmark'" class="checkmark draw"></div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-md-4">
    <mat-card style="background-color: #F2F4F8;height: 75vh; overflow: scroll">
      <mat-card-title>
        Declined Requests
      </mat-card-title>
      <mat-card-content>
        <ul class="list-group">
          <a href="#" class="list-group-item"
             *ngFor="let request of dRequests" style="color: black;"
             (click)="requestClicked(request,'d')">
            <span style="float: right;">
              <i class="fa fa-paypal" *ngIf="request.bot"></i>
              <i class="fa fa-user" *ngIf="!request.bot"></i>
              <span class="badge badge-pill" style="background:#FD6585;">{{getWaitingTime(request.timestamp)}}</span>
            </span>
            <div>{{request.name}}</div>
            <div style="color: #6D6D6D;">Request Type - {{request.type}}</div>
            <p class="mb-1" style="color:#a7afb2;">Summary - {{request.summary}}</p>
          </a>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>


</div>
